<ion-header>
  <ion-toolbar>
    <div>
      <ion-title>Teste COVID-19</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <h3>VOCÊ NÃO É SUSPEITO DE COVID-19</h3>
    <p>Seus sintomas não são comuns ao COVID-19. Ainda assim, é importante que você procure uma unidade de saúde para obter mais informações.</p>
  </div>

  <section>
    <ion-button expand="block" color="dark" href="unidadessaude">Unidades de saúde próximas</ion-button>
    <ion-button expand="block" color="dark" href="voltar">Voltar ao menu</ion-button>
  </section>
  
</ion-content>
