
<style>
  :root {
    --ion-safe-area-top: 15px;
    --ion-safe-area-bottom: 20px;
  }
  h1 {
    font-size: 0.8rem;
     }
  h2 {
    font-size: 1rem;
    text-align-last: center;
     }
  h3 {
    font-size: 1rem;
    text-align:center;
     }
  h4 {
    font-size: 0.8rem;
    text-align: center;
    }
</style>
<body>
<ion-app>

  <ion-header>
    <ion-toolbar>
      <ion-title><h4>Unidades de Saúde</h4></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>

    <section class="full-width">
      <label><h2>Unidades de Referência Distrital</h2></label>

      <ion-button expand="block" color="success" 
      href="https://www.google.com/maps/search/?api=1&query=-15.758409,-47.915415,17&query_place_id=ChIJzZk-kQU6WpMR7nStvpQbDRc" appExternalUrl>
      Hospital de Apoio de Brasília</ion-button>

      <ion-button expand="block" color="success" 
      href="https://www.google.com/maps/search/?api=1&query=-15.822871,-47.897309,17&query_place_id=ChIJW-eUhzMlWpMRLDb7ev-W02I" appExternalUrl>
      Hospital Materno Infantil de Brasília</ion-button>

      <ion-button expand="block" color="success" 
      href="https://www.google.com/maps/search/?api=1&query=-15.822871,-47.897309-15.758584,-47.917491,17&query_place_id=ChIJewoo9gU6WpMRPqfJyWx0ozg" appExternalUrl>
      Hospital da Criança de Brasília</ion-button>

      <ion-button expand="block" color="success" 
      href="https://www.google.com/maps/search/?api=1&query=-15.836699,-48.060394,17&query_place_id=ChIJTSltGuoyWpMRwgdHcdV5Aj8" appExternalUrl>
      Hospital São Vicente de Paulo</ion-button>
    </section>

    <label><h3>Unidades de Referência por Regiões Administrativas</h3></label>

    <section class="full-width">
      <label><h1>Águas Claras – RA XX</h1></label>
      <ion-button expand="block" color="primary" 
      href="https://www.google.com/maps/search/?api=1&query=-15.846072,-48.030448,17&query_place_id=ChIJe1_xVtgzWpMRKaTRX0wby8s" appExternalUrl>
      Hospital Águas Claras</ion-button>
    </section>

    <section class="full-width">
      <label><h1>Brazlândia – RA IV</h1></label>
      <ion-button expand="block" color="primary"
      href="https://www.google.com/maps/search/?api=1&query=15.674754,-48.203677,17&query_place_id=ChIJQZAVCye3W5MRz13HTQAcmmQ" appExternalUrl>
      Hospital Regional de Brazlândia</ion-button>
    </section>

    <section class="full-width">
      <label><h1>Candangolândia – RA XIX</h1></label>
      <ion-button expand="block" color="medium" 
      href="" appExternalUrl>
      Hospital Referência Inexistente</ion-button>
    </section>

    <section class="full-width">
      <label><h1>Ceilândia – RA IX</h1></label>
      <ion-button expand="block" color="primary" 
      href="https://www.google.com/maps/search/?api=1&query=-15.809901,-48.096965,17&query_place_id=ChIJm6vkF8HMW5MRKfPypuwxojk" appExternalUrl>
      Hospital Regional de Ceilândia</ion-button>
    </section>

    <section class="full-width">
      <label><h1>Cruzeiro – RA XI</h1></label>
      <ion-button expand="block" color="primary" 
      href="https://www.google.com/maps/search/?api=1&query=-15.800510,-47.942230,17&query_place_id=ChIJX18Xg10wWpMRO2ulk7OUN0g" appExternalUrl>
      Centro de Saúde n°9</ion-button>
    </section>

    <section class="full-width">
      <label><h1>Fercal – RA XXXI</h1></label>
      <ion-button expand="block" color="medium" 
      href="" appExternalUrl>
      Hospital Referência Inexistente</ion-button>
    </section>

    <section class="full-width">
      <label><h1>Gama – RA II</h1></label>
      <ion-button expand="block" color="primary" 
      href="https://www.google.com/maps/search/?api=1&query=-16.0138532,-48.0692605,17&query_place_id=ChIJFa6goAmAWZMRskEzIsTBgi0" appExternalUrl>
      Hospital Maria Auxiliadora</ion-button>
    </section>
    
    <section class="full-width">
      <label><h1>Guará – RA X</h1></label>
      <ion-button expand="block" color="primary" 
      href="https://www.google.com/maps/search/?api=1&query=-15.813803,-47.985082,17&query_place_id=ChIJEXqdq5YxWpMRnOD91gvQwS8" appExternalUrl>
      Hospital Regional do Guará</ion-button>
    </section>

    <section class="full-width">
      <label><h1>Itapoã – RA XXVIII</h1></label>
      <ion-button expand="block" color="primary"
      href="https://www.google.com/maps/search/?api=1&query=-15.740063,-47.763414,17&query_place_id=ChIJM0zLhycWWpMRzGS1Ha5x368" appExternalUrl>
      Posto Saúde Itapoã</ion-button>
    </section> 

    <section class="full-width">
      <label><h1>Jardim Botânico – RA XXVII</h1></label>
      <ion-button expand="block" color="medium" 
      href="" appExternalUrl>
      Hospital Referência Inexistente</ion-button>
    </section>

    <section class="full-width">
      <label><h1></h1>Lago Norte – RA XVIII</label>
      <ion-button expand="block" color="medium" 
      href="" appExternalUrl>
      Hospital Referência Inexistente</ion-button>
    </section>

    <section class="full-width">
      <label><h1>Lago Sul – RA XVI</h1></label>
      <ion-button expand="block" color="primary"
       href="https://www.google.com/maps/search/?api=1&query=-15.799880,-47.888705,17&query_place_id=ChIJuyNEcd06WpMRSd5fPkHAIGU" appExternalUrl>
      Hospital de Base do Distrito Federal</ion-button>
    </section>

    <section class="full-width">
      <label><h1>Núcleo Bandeirante – RA VIII</h1></label>
      <ion-button expand="block" color="primary" 
      href="https://www.google.com/maps/search/?api=1&query=-15.875717,-47.982163,17&query_place_id=ChIJw675YWAuWpMRAgXRSv6udxA" appExternalUrl>
      UPA 24h - Núcleo Bandeirante</ion-button>
    </section>

    <section class="full-width">
      <label><h1>Paranoá – RA VII</h1></label>
      <ion-button expand="block" color="primary"
      href="https://www.google.com/maps/search/?api=1&query=-15.759392,-47.780053,17&query_place_id=ChIJ0R45D0c9WpMRqaSziQbNT14" appExternalUrl>
      Hospital Regional de Paranoá</ion-button>
    </section>

    <section class="full-width">
      <label><h1>Park Way – RA XXIV</h1></label>
      <ion-button expand="block" color="medium" 
      href="" appExternalUrl>
      Hospital Referência Inexistente</ion-button>
    </section>

    <section class="full-width">
      <label><h1>Planaltina – RA VI</h1></label>
      <ion-button expand="block" color="primary" 
      href="https://www.google.com/maps/search/?api=1&query=-15.606502,-47.649592,17&query_place_id=ChIJU1N1y0oTWpMR1mpO_KLpMYE" appExternalUrl>
     Hospital Regional de Planaltina</ion-button>
    </section>

    <section class="full-width">
      <label><h1>Plano Piloto – RA I</h1></label>
      <ion-button expand="block" color="primary" 
      href="https://www.google.com/maps/search/?api=1&query=-15.780991,-47.882555,17&query_place_id=ChIJV7jJ9P06WpMRAr0rqJg4J1s" appExternalUrl>
      Hospital Regional da Asa Norte</ion-button>
      <ion-button expand="block" color="primary" 
      href="https://www.google.com/maps/search/?api=1&query=-15.823061,-47.897869,17&query_place_id=ChIJmdcaWzQlWpMRZH51kEx2IlE" appExternalUrl>
      Hospital Regional da Asa Sul</ion-button>
    </section>

    <section class="full-width">
      <label><h1>Recanto das Emas – RA XV</h1></label>
      <ion-button expand="block" color="primary" 
      href="https://www.google.com/maps/search/?api=1&query=-15.911428,-48.057455,17&query_place_id=ChIJfwUByOssWpMRzB2e8CwIAys" appExternalUrl>
      UPA do Recanto das Emas</ion-button>
    </section>

    <section class="full-width">
      <label><h1>Riacho Fundo I – RA XVII</h1></label>
      <ion-button expand="block" color="primary" 
      href="https://www.google.com/maps/search/?api=1&query=-15.879327,-48.010197,17&query_place_id=ChIJ2VhCCxktWpMRVjBB_bzGEOA" appExternalUrl>
      Policlínica do Riacho Fundo</ion-button>
    </section>

    <section class="full-width">
      <label><h1>Riacho Fundo II – RA XXI</h1></label>
      <ion-button expand="block" color="medium" 
      href="" appExternalUrl>
      Hospital Referência Inexistente</ion-button>
    </section>

    <section class="full-width">
      <label><h1>Samambaia – RA XII</h1></label>
      <ion-button expand="block" color="primary" 
      href="https://www.google.com/maps/search/?api=1&query=-15.853035,-48.073287,17&query_place_id=ChIJizJ9Ka4yWpMRNIRsECwZosk" appExternalUrl>
      Hospital Regional de Samambaia</ion-button>
    </section>

    <section class="full-width">
      <label><h1>Santa Maria – RA XIII</h1></label>
      <ion-button expand="block" color="primary" 
      href="https://www.google.com/maps/search/?api=1&query=-16.032623,-48.039559,17&query_place_id=ChIJ33xpyP2AWZMRosUvDkE141M" appExternalUrl>
      Hospital Regional de Santa Maria</ion-button>
    </section>

    <section class="full-width">
      <label><h1>São Sebastião – RA XIV</h1></label>
      <ion-button expand="block" color="primary" 
      href="https://www.google.com/maps/search/?api=1&query=-15.902237,-47.772825,17&query_place_id=ChIJOxHuk9IhWpMRnVfhI13uddg" appExternalUrl>
      Centro de Saúde 01 de São Sebastião</ion-button>
    </section>

    <section class="full-width">
      <label><h1>SCIA/Estrutural – RA XXV</h1></label>
      <ion-button expand="block" color="primary"
      href="https://www.google.com/maps/search/?api=1&query=-15.783388,-47.997231,17&query_place_id=ChIJ-_ZjsV4xWpMR9GlzIboNbfI" appExternalUrl>
     Centro de Saúde nº 04 - Estrutural</ion-button>
    </section>

    <section class="full-width">
      <label><h1>SIA – RA XXIX</h1></label>
      <ion-button expand="block" color="medium" 
      href="" appExternalUrl>
      Hospital Referência Inexistente</ion-button>
    </section>

    <section class="full-width">
      <label><h1>Sobradinho – RA V</h1></label>
      <ion-button expand="block" color="primary" 
      href="https://www.google.com/maps/search/?api=1&query=-15.647833,-47.792770,17&query_place_id=ChIJkWTMm4g_WpMRS_lBxDnZMXo" appExternalUrl>
      Hospital Regional de Sobradinho</ion-button>
    </section>

    <section class="full-width">
      <label><h1>Sobradinho II – RA XXVI</h1></label>
      <ion-button expand="block" color="primary" 
      href="https://www.google.com/maps/search/?api=1&query=-15.647833,-47.792770,17&query_place_id=ChIJkWTMm4g_WpMRS_lBxDnZMXo" appExternalUrl>
      Hospital Regional de Sobradinho</ion-button>
    </section>

    <section class="full-width">
      <label><h1>Sudoeste/Octogonal – RA XXII</h1></label>
      <ion-button expand="block" color="medium" 
      href="" appExternalUrl>
      Hospital Referência Inexistente</ion-button>
    </section>

    <section class="full-width">
      <label><h1>Taguatinga – RA III</h1></label>
      <ion-button expand="block" color="primary" 
      href="https://www.google.com/maps/search/?api=1&query=-15.822379,-48.069124,17&query_place_id=ChIJ0WEZoyczWpMRdfBQmlzVz9I" appExternalUrl>
      Hospital Regional de Taguatinga</ion-button>
    </section>

    <section class="full-width">
      <label><h1>Varjão – RA XXIII</h1></label>
      <ion-button expand="block" color="primary"
      href="https://www.google.com/maps/search/?api=1&query=-15.710786,-47.876257,17&query_place_id=ChIJD9ydugU5WpMRLVYEGB7r9D4" appExternalUrl>
      Centro de Saúde n°2 do Varjão</ion-button>
    </section>

    <section class="full-width">
      <label><h1>Vicente Pires – RA XXX</h1></label>
      <ion-button expand="block" color="primary" 
      href="https://www.google.com/maps/search/?api=1&query=-15.819094, -48.022034,17&query_place_id=ChIJaRCbx0kyWpMRr-eNY0dIAu4" appExternalUrl>
      Centro De Saude n° 1 de Vicente Pires</ion-button>
    </section>


  </ion-content>
</ion-app>
</body>