<ion-header>
  <ion-toolbar>
    <div>
      <ion-title>Teste COVID-19</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <h3>VOCÊ É SUSPEITO DE COVID-19 </h3>
    <p> Seus sintomas indicam que você possui COVID-19. Procure, com urgência, uma unidade de saúde.</p>
  </div>

    <div id="bloco">
      <ion-button expand="block" color="dark"  href="unidadessaude" >Unidades de saúde próximas</ion-button>
      <ion-button expand="block" color="dark" href="voltar">Voltar ao menu</ion-button>
    </div>
 
</ion-content>
