<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Login</ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-input placeholder="E-mail" [(ngModel)]="user.email"></ion-input>
  <ion-input type="password" placeholder="Senha" [(ngModel)]="user.password"></ion-input>

    <section>
      <ion-button expand="block" color="#18FFFF" >Login</ion-button>
    </section>

    <section>
      <h1 center>Não possui cadastro?Clique aqui.</h1>
         <section>
           <ion-button expand="block" color="#18FFFF" href="registro">Cadastro</ion-button>
         </section>
    </section>

</ion-content>
