<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title small>
      Seja Bem Vindo!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <img src="assets/img/logo.jpeg"/>
      <ion-title size="small">Seja Bem Vindo!</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Em homenagem a June Dalziel Almeida </strong>
    <section>
        <ion-button size="medium" href="menu">Menu</ion-button>

    </section>
  </div>
  
  
</ion-content>
