<ion-header [translucent]="true">
  <ion-toolbar>
    <div style="margin: 0 auto; width:50px;">
      <img src="assets/img/Imagem_logo.jpeg" >
    </div>
    <ion-title id="tag1">
      Pontos de testagem
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let hospital of hospitais">

    <ion-item lines="none">
      <ion-label>Nome: {{hospital.nome}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Endereço: {{hospital.end}}</ion-label>
    </ion-item>
    </div> 
<!--<div [innerHTML]="html_string | safe"> </div>-->
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" href="tab2">
      Voltar ao Menu
    </ion-button>
  </ion-toolbar>
</ion-footer>


