<ion-header>
  <ion-toolbar>
    <div>
      <ion-title>Teste COVID-19</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <h3>VOCÊ É SUSPEITO DE COVID-19 </h3>
    <p> Você possui sintomas leves de COVID-19. É aconselhável que você faça o teste em um ponto de testagem rápida antes de buscar auxílio médico.</p>
  </div>

  <section>
    <ion-button expand="block" color="dark" href="pontostestagem">Pontos de testagem próximos</ion-button>
    <ion-button expand="block" color="dark" href="voltar">Voltar ao menu</ion-button>
  </section>
</ion-content>
