
<body>
<ion-app>
  <ion-content fullscreen class="ion-padding" scroll-y="false">

    <ion-slides  loop=true>
      <ion-slide>
        <div class="slide">
          <img src="assets/img/slide1.png"/>
          </div>
      </ion-slide>

      <ion-slide>
        <img src="assets/img/slide2.jpeg"/>
        </ion-slide>

      <ion-slide>
        <img src="assets/img/slide3.jpg"/>
        </ion-slide>

      <ion-slide>
        <img src="assets/img/slide4.jpeg"/>
       </ion-slide>
    </ion-slides>

  </ion-content>

  <ion-content fullscreen>


    <section class="full-width">
      <ion-button expand="full" color="medium">Gráficos do Vírus</ion-button>
    </section>

    <section class="full-width">
      <ion-button expand="full" color="medium" href="dados-pessoais">Teste COVID-19</ion-button>
    </section>

    <section class="full-width">
      <ion-button expand="full" color="medium">Unidades de Saúde Próximas</ion-button>
    </section>

    <section class="full-width">
      <ion-button expand="full" color="medium">Pontos de Testagem Próximas</ion-button>
    </section>

   <!-- <section class="full-width">
      <ion-button expand="full" color="secondary">A full-width button</ion-button>
    </section> -->

  </ion-content>
</ion-app>

</body>

