<!--<script src="http://maps.google.com/maps/api/js?key=SUA KEY AQUI"></script>-->

<ion-header [translucent]="true">
  <ion-toolbar>
    <div style="margin: 0 auto; width:50px;">
      <img src="assets/img/Imagem_logo.jpeg" >
    </div>
    <ion-title id="tag1">
      Unidades de saúde
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<!-- <div [innerHTML]="html_string | safe"> </div> -->
<div *ngFor="let hospital of hospitais">

<ion-item lines="none">
  <ion-label>Nome: {{hospital.nome}}</ion-label>
</ion-item>
<ion-item>
  <ion-button (click)="openModal(hospital.end.latitude, hospital.end.longitude, hospital.nome)" >Endereço no Mapa</ion-button>
</ion-item>
</div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" href="tab3">
      Voltar ao Menu
    </ion-button>
  </ion-toolbar>
</ion-footer>


